.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
}

div{

  margin: 0;
  padding: 0;

}

#container {
  display: inline-block;
}

div.palette_container {

  /*background-color: blue;*/
  float: left;
  width: 100px;
  height: 100%;
  margin-right: 50px;
  border: 2px solid black;

}

div.color_grid {

  display: inline-block;
  margin-top: 15px;

}

div.eraser {

  background-image: url('/images/eraser9.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  margin: 15px 10px;
  display: inline-block;

}

div.grid {

  border: 1px solid black;
  display: inline-block;
  float: left;

}

div.pixel_square {

  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid black;
  display: inline-block;
  float: left;
  margin:0;

}

div.color_square {

  height: 22px;
  width: 22px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin: 2px;

}

/*COLORS*/

div.white {
  background-color: #fff;
}

div.black {
  background-color: #000;
}

div.light_gray {
  background-color: #C3C3C3;
}

div.gray {
  background-color: #7F7F7F;
}

div.brown {
  background-color: #B97A57;
}

div.maroon {
  background-color: #880015;
}

div.pink {
  background-color: #FFAEC9;
}

div.red {
  background-color: #ED1C24;
}

div.yellow_orange {
  background-color: #FFC90E;
}

div.orange {
  background-color: #FF7F27;
}

div.tan {
  background-color: #EFE4B0;
}

div.yellow {
  background-color: #FFF200;
}

div.yellow_green {
  background-color: #B5E61D;
}

div.green {
  background-color: #22B14C;
}

div.light_blue {
  background-color: #99D9EA;
}

div.blue {
  background-color: #00A2E8;
}

div.dark_blue {
  background-color: #7092BE;
}

div.blue_violet {
  background-color: #3F48CC;
}

div.light_purple {
  background-color: #C8BFE7;
}

div.purple {
  background-color: #A349A4;
}